@font-face {
    font-family: 'Digital-7';
    src: url('/JTRC/assets/fonts/digital-7.ttf') format('truetype');
  }

.digital-time {
    font-family: 'Digital-7', monospace;
    font-size: 25px;
    color: #19257d;
    background-color: white;
    padding: 10px 20px;
    display: block;
    width: fit-content;
    border-radius: 8px;
    letter-spacing: 2px;
    margin: 20px auto;
    text-align: center;
  }