<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">

{% include head.html %}

<body>

    {% include topnav.html %}

    <div class="page-content">
        <div class="wrapper">
            {{ content }}
        </div>
    </div>

    <div id="clock" class="digital-clock"></div>

    {% include footer.html %}
    {% include js_files.html %}

</body>

<script>
document.addEventListener("DOMContentLoaded", function() {
  document.querySelectorAll(".toggle-sub").forEach(function(toggle) {
    toggle.addEventListener("click", function(event) {
      
      event.preventDefault();
      event.stopPropagation();
      var targetId = toggle.getAttribute("data-target");
      var sublist = document.getElementById(targetId);
      if(sublist) {
        if(sublist.style.display === "none" || sublist.style.display === "") {
          sublist.style.display = "block";
          toggle.innerHTML = "&#9650;"; 
        } else {
          sublist.style.display = "none";
          toggle.innerHTML = "&#9660;"; 
        }
      }
    });
  });
});
</script>

</html>
